h1 {
  color: hotpink;
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
}
h3 {
  font-family: fantasy;
  font-size: 2rem;
  text-align: center;
}

.Card {
  padding: 30px;
  padding-top: 50px;
  margin: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 250px;
  flex-basis: 420px;
}

.Result {
  padding: 10px 20px;
  background-color: palegreen;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.input {
  margin-bottom: 10px !important;
}
